<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>Platform</h2>
      <ol class="breadcrumb">
          <li>
              <a href="index.html">Home</a>
          </li>
          <li>
              <a>Platform</a>
          </li>
          <li class="active">
              <strong>Platform List</strong>
          </li>
      </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>


<div  class="wrapper wrapper-content animated fadeInRight">
            <div *ngIf="url == '/platform' " class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Platform List</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Platform Name</th>
                        <th>Platform Image Url</th>
                        <th>Android Package</th>
                        <th>IOS Package</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX" *ngFor="let platform of platforms; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{platform.name}}</td>
                        <td>{{platform.img_url}}</td>
                        <td class="center">{{platform.package_name_android}}</td>
                        <td class="center">{{platform.package_name_ios}}</td>
                        <td class="center">
                                <button type="button" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-edit"></i></button>  
                                <button type="button" 
                                        class="btn btn-default btn-lg"
                                        (click)="delete('1')" ><i class="glyphicon glyphicon-trash"></i></button> 
                        </td>
                    </tr>
                    </tbody>
                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>



        <div *ngIf="url == '/createPlatform' " class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Create Platform</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form class="form-horizontal" #createPlatformForm="ngForm" (ngSubmit)="createPlatform(createPlatformForm)" >
                                <div class="form-group"><label class="col-sm-2 control-label">Platform Name</label>

                                    <div class="col-sm-10">
                                        <input  type="text" placeholder="Enter Platform Name Here" class="form-control" name="name" 
                                            #platformNameVar="ngModel" 
                                            required
                                            minlength="3" 
                                            ngModel
                                        >
                                    </div>
                                    <div *ngIf="platformNameVar.invalid && (platformNameVar.dirty || platformNameVar.touched)" class="alert alert-danger">
                                        <div *ngIf="platformNameVar?.errors?.required">
                                            Platform Name is required.
                                        </div>
                                        <div *ngIf="platformNameVar?.errors?.minlength">
                                                Platform Name must of {{platformNameVar.errors.minlength.requiredLength}} character
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">Andorid Package Name</label>

                                    <div class="col-sm-10"><input type="text" placeholder="Enter Andorid Package Name Here" class="form-control" name="package_name_android" ngModel></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group"><label class="col-sm-2 control-label">IOS Package Name</label>

                                    <div class="col-sm-10"><input type="text" placeholder="Enter IOS Package Name Here" class="form-control" name="package_name_ios" ngModel></div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label">Upload Platform Image</label>
                                        <div class="col-sm-10">
                                            <input id="img_name" type="file"  accept="image/*" (change)="changeListener($event)" name="img_name" ngModel/>
                                        </div>    
                                </div>
                                <div class="hr-line-dashed"></div>
                                
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <!-- <button class="btn btn-white" type="submit" >Cancel</button> -->
                                        <button class="btn btn-primary" type="submit" [disabled]="!createPlatformForm.valid">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>